.masthead {
    font-family: $primary-font;
    padding: 3rem 0; 
    background-color: $primary-color;
    color: $white-color;
    padding-top: calc(6rem + 74px);

    .masthead__avatar {
        width: 10rem;
        margin-bottom: 3rem;
    }

    .masthead__subheading {
        font-family: $secondary-font;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        
    }
}

.separator-block__icon {
    color: $secondary-color;
}

