.masthead {
    font-family: $montserrat-font;
    padding: 3rem 0; 
    background-color: $green-color;
    color: $white-color;
    padding-top: calc(6rem + 74px);

    .masthead__avatar {
        width: 10rem;
        margin-bottom: 3rem;
    }

    .masthead__heading span {
        font-weight: 600;
    }

    .masthead__subheading {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }
}

.separator-block__line--light {
    background-color: $white-color;
}

.social-network a {
    color: $grey-color;
    background-color: $green-color;
    font-size: 50px;
    margin: 5px;
}

.social-network a:hover {
    color: $blue-light-color;
    background-color: $green-color;
}