.navbar {
    font-family: $primary-font;
    background-color: $secondary-color;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-toggler {
    z-index: 1001;
}

.navbar-brand {
    font-size: 30px;
    color: $white-color;
}

.navbar-brand:hover {
    color: $primary-color;
}

.navbar .navbar-toggler {
    border: 2px solid $white-color;
}

.navbar-toggler-icon i {
    color:#fff;
    font-size:25px;
}

.nav-link {
    color: $white-color;
    font-size: 20px;
    position: relative;
    border-bottom: 3px solid transparent;
    transition: border-color 0.2s;
}

.nav-link:hover {
    color: $primary-color;
}

.dropdown-menu .dropdown-link:hover {
    background-color: $primary-light-color;
    color: $secondary-color;
}


