*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: $white-color;
    font-family: $secondary-font;
}

section {
    padding: 0 20px;
}

.separator-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0 2rem;

    .separator-block__line {
        width: 100%;
        max-width: 7rem;
        height: 0.25rem;
        border-radius: 1rem;
    }
    
    .separator-block__line:first-child {
        margin-right: 1rem;
    }
    
    .separator-block__line:last-child {
        margin-left: 1rem;
    }

    .separator-block__icon {
        font-size: 2rem;
    }
}

.separator-block__line--dark {
    background-color: $secondary-color;
}

.portfolio, .latest-posts {
    background-color: $primary-light-color;
    color: $secondary-color;
}

.page-section {
    padding: 6rem 0;
}

.page-section__heading {
    font-family: $primary-font;
}

.posts-list {
    margin-top: 120px;
}

.underline {
    border-bottom: 3px solid $primary-color;
}

.card {
    border: none;
}


