{% extends 'template/layouts/base_admin.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block content %}
	<main>
		<div class="container-fluid px-4">
			<h3 class="my-4">Dashboard</h3>
				<div class="dashboard">
					<div class="row cards-dash mx-2">
						<div class="col-sm-6 col-xl-3 mb-3">
							<div class="card card-posts h-100">
								<div class="card-body py-5">
									<div class="card-info">
										<h2>#</h2>
										<h4 class="title-cards-dash">Posts</h4>
									</div>
									<div class="card-icon">
										<i class="bi bi-pencil"></i>
									</div>
								</div>
								<div class="card-footer border-light">
									<a href="{{ base_path }}admin/posts/index" class="d-flex justify-content-between">
										<h6>View Details</h6>
										<i class="bi bi-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-xl-3 mb-3">
							<div class="card card-comments h-100">
								<div class="card-body py-5">
									<div class="card-info">
										<h2>#</h2>
										<h4 class="title-cards-dash">Comments</h4>
									</div>
									<div class="card-icon">
										<i class="bi bi-chat"></i>
									</div>
								</div>
								<div class="card-footer border-light">
									<a href="{{ base_path }}admin/comments/index" class="d-flex justify-content-between">
										<h6>View Details</h6>
										<i class="bi bi-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-xl-3 mb-3">
							<div class="card card-tags h-100">
								<div class="card-body py-5">
									<div class="card-info">
										<h2>#</h2>
										<h4 class="title-cards-dash">Tags</h4>
									</div>
									<div class="card-icon">
										<i class="bi bi-tags"></i>
									</div>
								</div>
								<div class="card-footer border-light">
									<a href="{{ base_path }}admin/tags/index" class="d-flex justify-content-between">
										<h6>View Details</h6>
										<i class="bi bi-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-xl-3 mb-3">
							<div class="card card-categories h-100">
								<div class="card-body py-5">
									<div class="card-info">
										<h2>#</h2>
										<h4 class="title-cards-dash">Categories</h4>
									</div>
									<div class="card-icon">
										<i class="bi bi-bookmark"></i>
									</div>
								</div>
								<div class="card-footer border-light">
									<a href="{{ base_path }}admin/categories/index" class="d-flex justify-content-between">
										<h6>View Details</h6>
										<i class="bi bi-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row cards-dash mx-2">
					<!--<div class="col-sm-6 col-xl-3 mb-3">
							<div class="card card-projects h-100">
								<div class="card-body py-5">
									<div class="card-info">
										<h2>#</h2>
										<h4 class="title-cards-dash">Projects</h4>
									</div>
									<div class="card-icon">
										<i class="bi bi-folder2-open"></i>
									</div>
								</div>
								<div class="card-footer border-light">
									<a href="#" class="d-flex justify-content-between">
										<h6>View Details</h6>
										<i class="bi bi-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>-->
						<div class="col-sm-6 col-xl-3 mb-3">
							<div class="card card-accounts h-100">
								<div class="card-body py-5">
									<div class="card-info">
										<h2>#</h2>
										<h4 class="title-cards-dash">Accounts</h4>
									</div>
									<div class="card-icon">
										<i class="bi bi-people"></i>
									</div>
								</div>
								<div class="card-footer border-light">
									<a href="#" class="d-flex justify-content-between">
										<h6>View Details</h6>
										<i class="bi bi-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-xl-3 mb-3">
							<div class="card card-roles h-100">
								<div class="card-body py-5">
									<div class="card-info">
										<h2>#</h2>
										<h4 class="title-cards-dash">Roles</h4>
									</div>
									<div class="card-icon">
										<i class="bi bi-person-gear"></i>
									</div>
								</div>
								<div class="card-footer border-light">
									<a href="#" class="d-flex justify-content-between">
										<h6>View Details</h6>
										<i class="bi bi-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-xl-3 mb-3">
							<div class="card card-medias h-100">
								<div class="card-body py-5">
									<div class="card-info">
										<h2>#</h2>
										<h4 class="title-cards-dash">Media Library</h4>
									</div>
									<div class="card-icon">
										<i class="bi bi-images"></i>
									</div>
								</div>
								<div class="card-footer border-light">
									<a href="#" class="d-flex justify-content-between">
										<h6>View Details</h6>
										<i class="bi bi-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
