{% extends 'template/layouts/base_frontend.html.twig' %}

{% block title %}Post Category
{% endblock %}

{% block content %}
    <div class="container posts-list">
    <div class="row">
        <!-- Main Content -->
        <div class="col-lg-9">
            <h3 class="fw-bold underline mb-3">Posts in category : <em>{{ category.name_category }}</em></h3>
            {% include 'template/_partials/_post_list.html.twig' %}
        </div>
        <div class="col-lg-3">
            {% embed "template/_partials/_aside.html.twig" %}{% endembed %}
        </div>
    </div>
</div>
{% endblock %}
