{% extends 'template/layouts/base_frontend.html.twig' %}

{% block title %}Post User
{% endblock %}

{% block content %}
    <div class="container posts-list">
    <div class="row">
        <!-- Main Content -->
        <div class="col-lg-9">
        <h3 class="fw-bold underline mb-3">Posts in user : <em>{{ user.username }}</em></h3>
        {% embed 'template/_partials/_post_list.html.twig' %}
            {% set url = 'user/' ~ user.slug_username ~ '?page=' %}
            {% set totalPages = totalPages %}
            {% if search %}{% set search = '&search=' ~ search %}{% endif %}
        {% endembed %}
        </div>
        <!-- Sidebar -->
        <div class="col-lg-3">
            {% embed "template/_partials/_aside.html.twig" %}{% endembed %}
        </div>
    </div>
</div>
{% endblock %}
