h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.5rem; }

h1, h2 {
  text-transform: uppercase; }

a {
  color: #2c3e50;
  text-decoration: none; }

ul {
  padding-left: 0; }

*,
::after,
::before {
  box-sizing: border-box; }

body {
  background-color: #F6F6F6;
  font-family: "Lato", sans-serif; }

section {
  padding: 0 20px; }

.separator-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0 2rem; }
  .separator-block .separator-block__line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    border-radius: 1rem; }
  .separator-block .separator-block__line:first-child {
    margin-right: 1rem; }
  .separator-block .separator-block__line:last-child {
    margin-left: 1rem; }
  .separator-block .separator-block__icon {
    font-size: 2rem; }

.separator-block__line--dark {
  background-color: #2c3e50; }

.portfolio, .latest-posts {
  background-color: #D1F2EB;
  color: #2c3e50; }

.page-section {
  padding: 6rem 0; }

.page-section__heading {
  font-family: "Candal", sans-serif; }

.posts-list {
  margin-top: 120px; }

.underline {
  border-bottom: 3px solid #1aBC9C; }

.card {
  border: none; }

.sign-form {
  background-color: white;
  color: #2c3e50;
  font-family: "Lato", sans-serif;
  max-width: 550px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  padding: 20px; }

.sign-form-title {
  font-family: "Candal", sans-serif;
  border: 4px solid #1aBC9C;
  border-radius: 5px;
  padding: 15px; }

.sign-form .error-message {
  color: red; }

.sign-form label {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px; }

.sign-link {
  margin-top: 20px; }

.sign-link a {
  color: #2980B9; }

.sign-link a:hover {
  color: #94BFDC; }

/*-- select field --*/
.tag-input-container {
  position: relative;
  display: flex;
  flex-direction: column; }

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  min-height: 40px;
  border-radius: 4px;
  background-color: #fff;
  cursor: text; }

.tag-label {
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  margin: 2px; }

.remove-tag {
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold; }

.tag-select {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto; }

.btn.btn-custom {
  background-color: #2980B9;
  color: #F6F6F6;
  transition: background-color 0.3s ease; }
  .btn.btn-custom:hover {
    background-color: #94BFDC;
    color: #2c3e50; }

.btn.btn-custom.text-custom {
  font-size: 1.3rem; }

.btn-font-size {
  font-size: 1.125rem; }

.btn-submit {
  font-size: 1.4rem; }

.social-network a {
  color: #2980B9;
  font-size: 50px;
  margin: 5px; }

.social-network a:hover {
  color: #94BFDC; }

.widget-title {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #1aBC9C; }

/* Categories widget */
.badge-pill {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #1aBC9C;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

.category-list a {
  font-weight: bold;
  padding: 0 5px 0 5px; }

.category-list .category-link {
  display: flex;
  justify-content: space-between; }

.category-list .category-link:hover {
  background-color: #94BFDC;
  color: #F6F6F6;
  border-radius: 5px; }

/* Tags widget */
.tag-cloud {
  text-align: center;
  margin: 0 10px 0 10px; }

.tag-cloud .tag {
  font-weight: bold; }

.tag-cloud .tag:hover {
  color: #94BFDC; }

.tag-color-dark {
  color: #2c3e50; }

.tag-color-green {
  color: #1aBC9C; }

/* Latest posts &  widget */
.link-more-posts .bi-arrow-right {
  color: #2980B9;
  font-weight: bold;
  font-size: 17px; }

.link-more-posts:hover,
.link-more-posts:hover .bi-arrow-right {
  color: #94BFDC; }

.pagination .page-item .page-link {
  color: #2980B9;
  border-color: #2980B9; }

.pagination .page-item .page-link:hover {
  color: #0056b3;
  background-color: #e9ecef; }

.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #2980B9;
  border-color: #2980B9; }

.pagination .page-item.disabled .page-link {
  color: #94BFDC;
  background-color: #fff;
  border-color: #2980B9; }

.navbar-front {
  font-family: "Candal", sans-serif;
  background-color: #2c3e50;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }

.navbar-toggler-front {
  z-index: 1001; }

.navbar-brand-front {
  font-size: 30px;
  color: #F6F6F6; }

.navbar-brand-front:hover {
  color: #1aBC9C; }

.navbar-front .navbar-toggler-front {
  border: 2px solid #F6F6F6; }

.navbar-toggler-icon i {
  color: #fff;
  font-size: 25px; }

.nav-link-front {
  color: #F6F6F6;
  font-size: 20px;
  position: relative;
  border-bottom: 3px solid transparent;
  transition: border-color 0.2s; }

.nav-link-front:hover {
  color: #1aBC9C; }

.dropdown-menu .dropdown-link:hover {
  background-color: #D1F2EB;
  color: #2c3e50; }

footer {
  background-color: #2c3e50;
  color: #F6F6F6; }

footer .menu-footer li a {
  color: #1aBC9C;
  font-size: 20px;
  font-weight: bold; }

footer .menu-footer li a:hover {
  color: #F6F6F6; }

.masthead {
  font-family: "Candal", sans-serif;
  padding: 3rem 0;
  background-color: #1aBC9C;
  color: #F6F6F6;
  padding-top: calc(6rem + 74px); }
  .masthead .masthead__avatar {
    width: 10rem;
    margin-bottom: 3rem; }
  .masthead .masthead__subheading {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    margin-bottom: 1rem; }

.separator-block__icon {
  color: #2c3e50; }

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden; }
  .portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: #1aBC9C; }
  .portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1; }
  .portfolio .portfolio-item .portfolio-item-caption-content {
    font-size: 1.5rem; }

/** Latest posts **/
.link-post {
  color: #2c3e50;
  font-weight: bold; }

.link-post:hover {
  color: #94BFDC; }

.card-blog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.blog-image {
  position: relative; }

.blog-image img {
  width: 100%; }

.blog-date {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1aBC9C;
  color: #F6F6F6;
  font-size: 13px;
  line-height: 1;
  font-weight: 500; }

.blog-category {
  position: absolute;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  padding: 0 15px;
  background-color: #1aBC9C;
  color: #F6F6F6; }

.blog-body {
  padding: 10px 15px; }

.blog-title {
  font-size: 25px;
  font-weight: 600; }

.blog-subtitle {
  font-size: 20px;
  margin-bottom: 16px; }

.blog-start {
  font-size: 14px; }

.blog-start a {
  text-decoration: none;
  font-weight: 500; }

.blog-footer {
  display: flex;
  align-items: center;
  padding: 15px 15px 25px;
  background-color: #c9dfed; }

.blog-author {
  font-size: 14px;
  font-weight: 600; }

.blog-post {
  font-size: 12px;
  color: #b3b2b2; }

.blog-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin-right: 20px; }

.blog-avatar img {
  width: 100%; }

.blog-comment {
  margin-left: 10px; }

.blog-footer .btn {
  margin-left: auto; }

.form-floating {
  position: relative; }

.form-floating > .form-control {
  height: 5.5rem;
  line-height: 1.25; }

.form-floating > label {
  position: absolute;
  font-size: 1.25rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: 0.125rem solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
  .form-floating > label {
    transition: none; } }

.form-floating > .form-control {
  padding: 1.5rem 1.5rem; }

.form-floating > .form-control::placeholder {
  color: transparent; }

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem; }

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
  color: #2980B9; }

@media (max-width: 992px) {
  /* Typography */
  h1 {
    font-size: 2.75rem;
    line-height: 2.75rem; }
  h2 {
    font-size: 2.25rem;
    line-height: 2rem; }
  /* Hero */
  .masthead {
    padding-top: calc(2rem + 74px); }
    .masthead .masthead .masthead__subheading {
      font-size: 1.25rem; } }

@media (max-width: 576px) {
  /* Typography */
  h2 {
    font-size: 1.8rem;
    line-height: 1.5rem; }
  /* Utilities */
  .separator-block .separator-block__line {
    max-width: 4.5rem; }
  /* Navbar */
  .navbar-brand {
    font-size: 20px; }
  .navbar .nav-link {
    border-bottom: none; }
  /* Hero */
  .masthead .masthead__avatar {
    width: 8rem; }
  .masthead__heading {
    font-size: 1.8rem;
    line-height: 1; }
  .masthead h3 {
    font-size: 1.3rem; }
  .masthead .masthead__subheading {
    font-size: 1rem; }
  .lead {
    font-size: 1.1rem; }
  .form-floating label {
    font-size: 1rem; } }

#offcanvasExample {
  background-color: #2c3e50;
  width: 270px; }

.sidebar-link {
  display: flex;
  align-items: center; }

.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.25s; }

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg); }

main {
  margin-left: 270px;
  max-height: 100vh;
  /*overflow-x: auto!important;
    overflow-y: auto!important;*/ }

.dashboard .cards-dash .card {
  color: white;
  border: none;
  box-shadow: rgba(77, 55, 55, 0.5) 0 5px 15px; }

.dashboard .cards-dash .card-posts {
  background: linear-gradient(to right, #0D6EFD, #00D4FF); }

.dashboard .cards-dash .card-comments {
  background: linear-gradient(to right, #FFC107, #FFE083); }

.dashboard .cards-dash .card-projects {
  background: linear-gradient(to right, #DC3545, #ED9AA2); }

.dashboard .cards-dash .card-categories {
  background: linear-gradient(to right, #198754, #8CC3A9); }

.dashboard .cards-dash .card-tags {
  background: linear-gradient(to right, #800080, #B18BBB); }

.dashboard .cards-dash .card-accounts {
  background: linear-gradient(to right, #FF69B4, #FFB6C1); }

.dashboard .cards-dash .card-roles {
  background: linear-gradient(to right, #219EBC, #8Fd9EB); }

.dashboard .cards-dash .card-medias {
  background: linear-gradient(to right, #FF8000, #FFC489); }

.dashboard .card .card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 125px;
  margin: 5px; }

.dashboard .card .card-footer a {
  color: white;
  text-decoration: none; }

.dashboard .card-body .card-icon {
  font-size: 55px;
  color: white; }

.dashboard .card .card-footer:hover {
  background: white; }

.dashboard .card-posts .card-footer a:hover {
  color: #0D6EFD; }

.dashboard .card-comments .card-footer a:hover {
  color: #FFC107; }

.dashboard .card-projects .card-footer a:hover {
  color: #DC3545; }

.dashboard .card-categories .card-footer a:hover {
  color: #198754; }

.dashboard .card-tags .card-footer a:hover {
  color: #800080; }

.dashboard .card-accounts .card-footer a:hover {
  color: #FF69B4; }

.dashboard .card-roles .card-footer a:hover {
  color: #219EBC; }

.dashboard .card-medias .card-footer a:hover {
  color: #FF8000; }

.card-body textarea {
  display: none; }

.card-header-post {
  background-color: #cee2fe; }

.centered-cell {
  vertical-align: middle !important; }

.card-header-category {
  background-color: #d1e7dc; }

.card-header-tag {
  background-color: #e5cce5; }

@media (min-width: 992px) {
  /* Sidebar admin */
  #offcanvasExample {
    transform: none;
    visibility: visible;
    top: 56px;
    height: calc(100% - 56px); } }

@media (max-width: 992px) {
  main {
    margin-left: 0; } }

/**  Posts List **/
