h1 {
  font-size: 4rem;
  font-weight: 700;
  /*line-height: 3.5;*/ }

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  /*line-height: 2.5;*/ }

h1, h2 {
  text-transform: uppercase; }

*,
::after,
::before {
  box-sizing: border-box; }

body {
  background-color: #F9F9F9;
  font-family: "Lato", sans-serif;
  text-decoration: none; }

.portfolio, .contact {
  background-color: #D1F2EB;
  color: #2c3e50; }

.separator-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0 2rem; }
  .separator-block .separator-block__line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    border-radius: 1rem; }
  .separator-block .separator-block__line:first-child {
    margin-right: 1rem; }
  .separator-block .separator-block__line:last-child {
    margin-left: 1rem; }
  .separator-block .separator-block__icon {
    font-size: 2rem; }

.separator-block__line--dark {
  background-color: #2c3e50; }

.page-section {
  padding: 6rem 0; }

.navbar {
  font-family: "Montserrat", sans-serif;
  background-color: #2c3e50;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }

.navbar-toggler {
  z-index: 1001; }

.navbar-brand {
  font-size: 25px;
  font-weight: 600;
  color: #F9F9F9; }

.navbar-brand:hover {
  color: #1aBC9C; }

.navbar .navbar-toggler {
  border: 2px solid #F9F9F9; }

.navbar-toggler-icon i {
  color: #fff;
  font-size: 25px; }

.navbar .nav-link {
  color: #F9F9F9;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  border-bottom: 3px solid transparent;
  transition: border-color 0.2s; }

.navbar .nav-link:hover {
  color: #1aBC9C; }

.nav-item .social-network {
  font-size: 25px; }

.masthead {
  font-family: "Montserrat", sans-serif;
  padding: 3rem 0;
  background-color: #1aBC9C;
  color: #F9F9F9;
  padding-top: calc(6rem + 74px); }
  .masthead .masthead__avatar {
    width: 10rem;
    margin-bottom: 3rem; }
  .masthead .masthead__heading span {
    font-weight: 600; }
  .masthead .masthead__subheading {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 600; }

.separator-block__line--light {
  background-color: #F9F9F9; }

.social-network a {
  color: #2c3e50;
  background-color: #1aBC9C;
  font-size: 50px;
  margin: 5px; }

.social-network a:hover {
  color: #D6EAF8;
  background-color: #1aBC9C; }

.page-section__heading {
  font-family: "Montserrat", sans-serif; }

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden; }
  .portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: #1aBC9C; }
  .portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1; }
  .portfolio .portfolio-item .portfolio-item-caption-content {
    font-size: 1.5rem; }

.form-floating {
  position: relative; }

.form-floating > .form-control {
  height: 5.5rem;
  line-height: 1.25; }

.form-floating > label {
  position: absolute;
  font-size: 1.25rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: 0.125rem solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
  .form-floating > label {
    transition: none; } }

.form-floating > .form-control {
  padding: 1.5rem 1.5rem; }

.form-floating > .form-control::placeholder {
  color: transparent; }

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem; }

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
  color: #2980B9; }

footer {
  background-color: #2c3e50;
  color: #F9F9F9; }

footer .menu-footer {
  color: #1aBC9C; }

footer .nav-link {
  color: #F9F9F9;
  font-size: 20px; }

.social-network-footer a {
  color: #F9F9F9;
  font-size: 50px;
  margin: 5px; }

.social-network-footer a:hover {
  color: #D6EAF8; }

.btn.btn-custom {
  font-size: 1.125rem;
  background-color: #2980B9;
  color: #F9F9F9;
  border: 2px solid #2980B9;
  transition: background-color 0.3s ease; }
  .btn.btn-custom:hover {
    background-color: #D6EAF8;
    color: #2980B9;
    border: 2px solid #2980B9; }

.btn.btn-custom.text-custom {
  font-size: 1.3rem; }

@media (max-width: 992px) {
  /* Typography */
  h1 {
    font-size: 2.75rem;
    line-height: 2.75rem; }
  h2 {
    font-size: 2.25rem;
    line-height: 2rem; }
  /* Hero */
  .masthead {
    padding-top: calc(2rem + 74px); }
    .masthead .masthead .masthead__subheading {
      font-size: 1.25rem; } }

@media (max-width: 576px) {
  /* Typography */
  h2 {
    font-size: 1.8rem;
    line-height: 1.5rem; }
  /* Utilities */
  .separator-block .separator-block__line {
    max-width: 4.5rem; }
  /* Navbar */
  .navbar-brand {
    font-size: 20px; }
  .navbar .nav-link {
    border-bottom: none; }
  /* Hero */
  .masthead .masthead__avatar {
    width: 8rem; }
  .masthead__heading {
    font-size: 1.8rem;
    line-height: 1; }
  .masthead h3 {
    font-size: 1.3rem; }
  .masthead .masthead__subheading {
    font-size: 1rem; }
  .lead {
    font-size: 1.1rem; }
  .form-floating label {
    font-size: 1rem; } }
