$white-color: #F9F9F9;
$green-color: #1aBC9C;
$blue-color: #2980B9;
$grey-color: #2c3e50;
$purple-color: #805D93;

$green-light-color: #D1F2EB;
$blue-light-color: #D6EAF8;
$grey-light-color: #F0F2F5;
$purple-light-color: #D1CED6;

$montserrat-font: 'Montserrat', sans-serif;
$lato-font: 'Lato', sans-serif;
$libre-font: 'Libre Baskerville', sans-serif;

body {
    background-color: $white-color;
    font-family: $lato-font;
    color: $grey-color;
}
