$white-color: #FFFF;
$green-color: #1aBC9C;
$blue-color: #2980B9;
$grey-color: #34495E;
$purple-color: #805D93;

$montserrat-font: 'Montserrat', sans-serif;
$lato-font: 'Lato', sans-serif;
$libre-font: 'Libre Baskerville', sans-serif;
