
{% extends 'template/layouts/main.html.twig' %}

{% block title %}Home - WebDevPro{% endblock %}

{% block content %}
    <body>{{ content }}</body>
    <i class="fas fa-check-circle"></i>
{% endblock %}

