.pagination .page-item .page-link {
    color: #2980B9;
    border-color: #2980B9;
}

.pagination .page-item .page-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #2980B9;
    border-color: #2980B9;
}

.pagination .page-item.disabled .page-link {
    color: #94BFDC;   
    background-color: #fff; 
    border-color: #2980B9;
}