<section class="page-section about mb-0" id="about">
	<div class="container">
		<!-- About Section Heading-->
		<h2 class="page-section__heading text-center">About</h2>
		<!-- Icon Divider-->
		<div class="separator-block separator-light w-100">
			<div class="separator-block__line separator-block__line--dark"></div>
			<div class="separator-block__icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="separator-block__line separator-block__line--dark"></div>
		</div>
		<!-- About Section Content-->
		<div class="row">
			<div class="col-lg-4 ms-auto">
				<p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
			</div>
			<div class="col-lg-4 me-auto">
				<p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
			</div>
		</div>
	</div>
</section>
