<section class="page-section contact" id="contact">
	<div
		class="container">
		<!-- Contact Section Heading-->
		<h2 class="page-section__heading text-center">Contact Me</h2>
		<!-- Icon Divider-->
		<div class="separator-block separator-light w-100">
			<div class="separator-block__line separator-block__line--dark"></div>
			<div class="separator-block__icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="separator-block__line separator-block__line--dark"></div>
		</div>
		<!-- Contact Section Form-->
		<div class="row justify-content-center">
			<div class="col-lg-8 col-xl-7">
				<form
					id="contactForm">
					<!-- Name input-->
					<div class="form-floating mb-3">
						<input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required"/>
						<label for="name">Full name</label>
						<div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
					</div>
					<!-- Email address input-->
					<div class="form-floating mb-3">
						<input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email"/>
						<label for="email">Email address</label>
						<div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
						<div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
					</div>
					<!-- Phone number input-->
					<div class="form-floating mb-3">
						<input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required"/>
						<label for="phone">Phone number</label>
						<div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
					</div>
					<!-- Message input-->
					<div class="form-floating mb-3">
						<textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
						<label for="message">Message</label>
						<div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
					</div>
					<div class="form-check mb-3">
						<input class="form-check-input" type="checkbox" value="" id="consentCheckbox" required>
						<label class="form-check-label" for="consentCheckbox">I consent to the processing of my data according to the
							<a href="privacy-policy">Privacy Policy</a>.</label>
						<div class="invalid-feedback">You must consent to the processing of your data to submit the form.</div>
					</div>
					<div class="d-none" id="submitErrorMessage">
						<div class="text-center text-danger mb-3">Error sending message!</div>
					</div>
					<button class="btn btn-custom btn-font-size" id="submitButton" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</section>
