<header class="masthead vh-75 text-center">
	<div class="container d-flex align-items-center flex-column">
		<img class="masthead__avatar" src="public/img/avatar.png" alt="avatar">
		<h2 class="masthead__heading pb-1">Freelance Junior Backend Developer<h2>
		<h3 class="masthead__heading"><span>PHP / Symfony & Wordpress</span></h3>
		<div class="separator-block w-100">
			<div class="separator-block__line separator-block__line--light"></div>
			<div class="separator-block__icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="separator-block__line separator-block__line--light"></div>
		</div>
		<p class="masthead__subheading">The ideal developer to carry out your web projects with expertise and commitment</p>
		<div class="social-network col-lg-12">
            <a class= "py-0" href="https://github.com"><i class="fab fa-github-square"></i></a>
            <a href="https://fr.linkedin.com"><i class="fab fa-linkedin"></i></a>
        </div>
	</div>
</header>
