<section class="page-section latest-posts" id="latest-posts">
	<div class="container">
		<h2 class="page-section__heading text-center">Latest posts</h2>
		<!-- Icon Divider-->
		<div class="separator-block separator-light w-100">
			<div class="separator-block__line separator-block__line--dark"></div>
			<div class="separator-block__icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="separator-block__line separator-block__line--dark"></div>
		</div>
		<div
			class="row">
			<!-- Latest Post 1 -->
			<div class="col-lg-4 col-sm-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="public/img/cabin.png" alt="Post 1">
					<div class="card-body">
						<h5 class="card-title">Titre de l'article</h5>
						<p class="card-text">Description succincte de l'article.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Catégorie : Technologie</li>
					</ul>
					<div class="card-body">
						<a href="#" class="card-link">Lire l'article</a>
					</div>
					<div class="card-footer">
						Tags :
						<a href="#" class="badge bg-primary">Technologie</a>
						<a href="#" class="badge bg-primary">Développement Web</a>
					</div>
				</div>
			</div>
			<!-- Latest Post 2 -->
			<div class="col-lg-4 col-sm-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="public/img/cabin.png" alt="Post 2">
					<div class="card-body">
						<h5 class="card-title">Titre de l'article</h5>
						<p class="card-text">Description succincte de l'article.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Catégorie : Technologie</li>
					</ul>
					<div class="card-body">
						<a href="#" class="card-link">Lire l'article</a>
					</div>
					<div class="card-footer">
						Tags :
						<a href="#" class="badge bg-primary">Technologie</a>
						<a href="#" class="badge bg-primary">Développement Web</a>
					</div>
				</div>
			</div>
			<!-- Latest Post 3 -->
			<div class="col-lg-4 col-sm-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="public/img/cabin.png" alt="Post 3">
					<div class="card-body">
						<h5 class="card-title">Titre de l'article</h5>
						<p class="card-text">Description succincte de l'article.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Catégorie : Technologie</li>
					</ul>
					<div class="card-body">
						<a href="#" class="card-link">Lire l'article</a>
					</div>
					<div class="card-footer">
						Tags :
						<a href="#" class="badge bg-primary">Technologie</a>
						<a href="#" class="badge bg-primary">Développement Web</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
