<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2 class="page-section__heading text-center">Portfolio</h2>
        <div class="separator-block separator-light w-100">
			<div class="separator-block__line separator-block__line--dark"></div>
			<div class="separator-block__icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="separator-block__line separator-block__line--dark"></div>
		</div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="public/img/cabin.png" alt="project" />
                </div>
            </div>
        </div>
    </div>
</section>