{% extends 'template/layouts/base_security.html.twig' %}

{% block title %}Registration - WebDevPro
{% endblock %}

{% block content %}
	<section class="d-flex justify-content-center align-items-center" style="height: 100vh;">
		<div class="container sign-form">
			<h3 class="sign-form-title text-center mb-4">Registration</h3>
			{% if errors %}
				<div class="alert alert-danger" role="alert">
					<ul class="errors-list">
						{% for error in errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<form action="" method="post" id="registrationForm">
				<div class="mt-3">
                    {% include 'template/_fragments/_form/_input_field.html.twig' with {
                        'type': 'username',
                        'name': 'username',
                        'id': 'username',
                        'class': 'form-control',
                        'label': 'Username'
                    } %}
				</div>
				<div class="mt-3">
					{% include 'template/_fragments/_form/_input_field.html.twig' with {
                        'type': 'email',
                        'name': 'email',
                        'id': 'email',
                        'class': 'form-control',
                        'label': 'Email'
                    } %}
                </div>
				<div class="mt-3">
                    {% include 'template/_fragments/_form/_input_field.html.twig' with {
                        'type': 'password',
                        'name': 'password',
                        'id': 'password',
                        'class': 'form-control',
                        'label': 'Password'
                    } %}
                </div>
				<div class="mt-3">
                    {% include 'template/_fragments/_form/_input_field.html.twig' with {
                        'type': 'password',
                        'name': 'confirm-password',
                        'id': 'confirm-password',
                        'class': 'form-control',
                        'label': 'Confirm password'
                    } %}
                </div>
				<div class="mt-4">
                    {% include 'template/_fragments/_form/_button_field.html.twig' with {
                        'type' : 'submit',
                        'name' : 'submit',
                        'label': 'Submit',
                        'id': 'submit',
                        'class': 'btn btn-custom btn-submit w-100 p-3'
                    } %}
                </div>
			</form>
			<div class="sign-link text-center">
				<h5>Already a member ?<a href="{{ base_path }}login">
					Sign in</a>
				</h5>
			</div>
		</div>
	</section>
{% endblock %}
