
{% extends 'template/layouts/main.html.twig' %}

{% block title %}Home - WebDevPro{% endblock %}

{% block content %}
    <body>
    <header class="masthead vh-75 text-center">
        <div class="container d-flex align-items-center flex-column">
            <img class="masthead__avatar" src="public/img/avatar.png" alt="avatar">
            <h1 class="masthead__heading">Welcome to My Blog</h1>
            <div class="separator-block w-100">
                <div class="separator-block__line"></div>
                <div class="separator-block__icon"><i class="fas fa-star"></i></div>
                <div class="separator-block__line"></div>
            </div>
            <p class="masthead__subheading">Junior Backend Developer - PHP / Symfony & Wordpress</p>
        </div>
    </header>
    <div class="separator-block__line"></div>
    </body>
{% endblock %}

