{% extends 'template/layouts/base_admin.html.twig' %}

{% block title %}Tags Create
{% endblock %}

{% block content %}
    <main>
		<div class="container-fluid px-4">
            <div class="row mt-4">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-tag d-flex justify-content-between">
							<h4>Create Tag</h4>
							<a href="{{ base_path }}admin/tags/index" class="btn btn-danger">Back</a>
						</div>
						<div class="card-body">
							{% if errors %}
								<div class="alert alert-danger" role="alert">
									<ul class="errors-list">
										{% for error in errors %}
											<li>{{ error }}</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
							<form action="" method="post" enctype="multipart/form-data" id="createTagForm">
								<div class="mt-3">
									{% include 'template/_fragments/_form/_input_field.html.twig' with {
										'type': 'text',
										'name': 'name-tag',
										'id': 'name-tag',
										'class': 'form-control',
										'label': 'Name'
									} %}
									<div id="nameTagError" class="text-danger"></div>
								</div>
								<div class="mt-4">
									{% include 'template/_fragments/_form/_button_field.html.twig' with {
										'type' : 'submit',
										'name' : 'submit',
										'label': 'Submit',
										'id': 'submit',
										'class': 'btn btn-custom submit'
									} %}
								</div>
							</form>
						</div>
					</div>
				</div>
            </div>
		</div>
	</main>
{% endblock %}